body {
  background: #e4e7ec;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-default {
  box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: #e3e9ec;
}

.navbar-default .navbar-nav > li {
  float: left;
}

.navbar-default .navbar-nav > li > a {
  padding: 15px;
  color: #848484;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: #f7f7f7;
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-default .navbar-brand {
  margin-left: -15px;
  color: #fff;
  background-color: #22ae5f;
  transition: 0.25s all;
}

.navbar-default .navbar-brand:hover {
  background: #000;
  color: #fff;
}
.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.btn-primary {
  background-color: #1d7cf4;
}

.btn-success {
  background-color: #22ae5f;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 330px;
  margin: 12% auto;
}