body {
  background: #e4e7ec;
  font-family: 'Roboto', sans-serif;;
}

a {
  color: #000;
}

.text-muted {
  color: #90939a;
}

.navbar-default {
  box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: #e3e9ec;
}

.navbar-default .navbar-nav > li > a {
  color: #848484;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: #f7f7f7;
}

.btn {
  border-radius: 0;
}


.form-control {
  border-radius: 0;
}

body {
  padding-bottom: 20px;
}

.center-form {
  width: 330px;
  margin: 12% auto;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}