{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-spaced-func:": 0,
    "max-len": 0,
    "comma-dangle": 0,
    "quote-props": 0,
    "dot-notation": 0,
    "react/prop-types": 0
  }
}
