<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ngAuth Demo</title>
  <link href="http://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  <link href="stylesheets/font-awesome.css" rel="stylesheet">
  <link href="stylesheets/bootstrap.css" rel="stylesheet">
  <link href="stylesheets/bootstrap-social.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Satellizer</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li ng-if="currentUser"><a href="/#/protected">Protected</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li><a href="/#/login">Login</a></li>
    <li><a href="/#/signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li><a href="/#/logout">Logout</a></li>
  </ul>
</div>

<div ng-view></div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-messages.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-resource.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-route.js"></script>
<script src="http://rawgit.com/sahat/satellizer/master/lib/satellizer.js"></script>

<script src="app.js"></script>
<script src="directives/repeatPassword.js"></script>
<script src="controllers/home.js"></script>
<script src="controllers/login.js"></script>
<script src="controllers/signup.js"></script>
<script src="controllers/logout.js"></script>
<script src="controllers/protected.js"></script>
<script src="services/account.js"></script>
</body>
</html>